body {
    background-color: blanchedalmond;
}

.resume {
    background-color: blueviolet;
}

.container {
    background-color: rgb(195, 205, 205);
}

.resume {
    margin: auto;
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.container {
    width: 100%;
    padding-left: 80px;
}

.sidebar {}